<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/global.style.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.style.css}"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <header th:insert="shared/header.html :: nav"></header>
    <body>
        <div class="container">
            <div class="container-botoes">
                <a th:if="${isAdmin}" th:href="@{/usuarios}"><button type="button" class="btn btn-primary">Gerenciar usuários</button></a>
                <a th:href="@{/produtos}"><button type="button" class="btn btn-primary">Gerenciar produtos</button></a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Sair</button>
                </form>
            </div>
        </div>
    </body>
</html>
